extends ../base.pug
block title 
  title Центр упаковки - Страница не найдена
block content
  .opacity-bg.error404
    img(src="img/404.png", alt="404")
    h1 СТРАНИЦА НЕ НАЙДЕНА
    p Проверьте адрес или перейдите 
      a(href="index.html") на главную страницу