extends ../base.pug
block title 
  title Центр упаковки - О компании
block content
  .top-block
  +breadcrumbs('О компании')
  .gradient-section
    .container
      h1.page__title О компании
      .about.sm-flex
        img(src="img/img2.jpg", alt="")
        .text-wrap
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своих своего образ составитель залетают алфавит прямо вершину последний она взгляд переписывается великий злых свою заглавных города несколько, реторический ipsum?
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своих своего образ составитель залетают алфавит прямо вершину последний она взгляд переписывается великий злых свою заглавных города несколько, реторический ipsum?
          ul
            li Далеко-далеко за словесными горами
            li в стране гласных и согласных
            li живут рыбные тексты
  .attention-block
    .attention-wrap
      .attention__title Огромный ассортимент
      .attention__title--after
        img(src="img/after.svg", alt="")
      .attention__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своих своего образ составитель залетают алфавит прямо вершину последний она взгляд переписывается великий злых свою заглавных города несколько, реторический ipsum?
  .opacity-bg
    .container
      .form.form--primary
        include ../includes/form.pug
