extends ../base.pug
include ../mixins/products.pug
block title 
  title Центр упаковки - Продукция
block content
  +breadcrumbs('Контейнеры')
  .gradient-section
    .container
      h1.page__title Контейнеры
      .text-wrap.clearfix
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своих своего образ составитель залетают алфавит прямо вершину последний она взгляд переписывается великий злых свою заглавных города несколько, реторический ipsum?
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Своих своего образ составитель залетают алфавит прямо вершину последний она взгляд переписывается великий злых свою заглавных города несколько, реторический ipsum?
          .btn-download
            a(href="#", download)
              | Скачать прайслист
              img.icon(src="img/download.svg", alt="")
  .products.opacity-bg
    .container
      .products-wrap
        +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2290.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2298.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2299.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2300.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2301.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2302.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2302-1.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2303.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2299.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
        +product('img/goods/IMG_2298.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')

block scripts
  script(src="js/jquery.fancybox.min.js")
