body
  font-family: $regular-font
  font-size: 18px
a
  text-decoration: none
  color: $primary-color
  &:hover
    color: complement($primary-color)
  &:focus
    outline-color: $primary-color
.reset-list
  margin: 0
  padding: 0
  list-style-type: none