header
	.container.sm-flex
		.logo.logo--header
			a(href="index.html")
				img(src="img/logo.svg", alt="Центр упаковки")
		.tagline
			img(src="img/tagline.svg", alt="Яркая упаковка на каждый день")
		.info-header.info-header--phone
			img.icon(src="img/tel.svg", alt="")
			a(href="tel:84212465692") 8 (4212) 46-56-92
		.info-header.info-header--address
			img.icon(src="img/map.svg", alt="")
			span ул. Шевчука, 22