header
	.container
		.logo.logo--header
			a(href="index.html")
				img(src="img/logo.svg", alt="Центр упаковки")
		p.tagline  Яркая упаковка <br> каждый день
		.phone-header
			a(href="tel:84212260640") 260-640
		.phone-address
			span ул. Шевчука, 22