mixin product(img, title, desc)
  .primary-grid__item
    .product
      .price--label от 300 р.
      figure
        a(href="")
          img(src=img, alt="", class="product__img")
        figcaption
          .product__title= title
          .product__desc= desc
.products-wrap
  +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
  +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
  +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
  +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
  +product('img/goods/IMG_2289.png','Банка 1000 мл d-170 мм шайба прозрачная с крышкой 210','Артикул: 17-0010')
      